@font-face {
   font-family: 'AvenirLTStd-Book';
   font-display: swap;
   src: url('file:///C:/Users/pc/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-28_230726/fonts/AvenirLTStd-Book/font.ttf');
}
